/** Light Green: #7ACF53 
*** Dark Green: #4F8934  (slightly darker for footer: #45752F)
*** Orange: #EB9125
*** Neon Orange: #FED400
*** Light Tan background: #F2EEEA
*** Mud green color: #646E46
*** Dark grey/green for text: #565B48
*/
/*********** Containers ***********/

body {
    background-color: #FFFFFF;
    height: 100%;
}

/*********** Navigation ***********/

.logo {
    width: 38%;
    margin-left: 10%;
}

.nav-item a {
    color: #646E46!important;
    font-weight: bold;
    font-size: 15pt;
    font-family: 'Noto Serif Georgian', serif;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #F2EEEA;
}

/*********** Common to all pages ***********/

.bodyMainHeading {
    color: #646E46;
    text-align: center;
    font-family: 'Noto Serif Georgian', serif;
    margin-bottom: 3%;
}

.ParaLeftContentHeading i {
	color: #F7BF00 !important;
}

/*********** Buttons ***********/

.btn {
    background-color: #FFC708;
    border-radius: 1.375rem;
    border: none;
    float: right;
    color: white;
}

.btn:hover {
    background-color: #F7BF00;
    border-radius: 1.375rem;
    border: none;
    color: white;
}

.btn:active {
    background-color: #FFC708!important;
    color: white!important;
}

/*********** Footer ***********/

.footer {
    background-color: #646E46;
    margin-top:10%;
}

.footer p {
    display: flex;
    padding: 0.5%;
    justify-content: space-between;
    margin-bottom: 0; 
}

.footer span {
    color: #246461;
    font-family: 'Noto Sans Georgian', sans-serif;
    color: white;
}

.footer span a {
    color: #246461;
    font-weight: bold;
    font-family: 'Noto Sans Georgian', sans-serif;
    color: white;
}

/******************************************/

/*********** Media Queries ***********/

/******************************************/

@media screen and (max-width: 700px) {

    /******** Containers *******/

    body {
        min-width: 375px;
    }

    /******** Navigation *******/

    .logo {
        width: 28%;
    }
}



