body {
	font-family:tahoma, arial,sans-serif;
	font-size: 10pt;
	color: #000000;
}

p, ul, li, td
{
	font-family:tahoma, arial,sans-serif;
	font-size: 10pt;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 0px;
}

td.pagetitle
{
	font-family:tahoma, arial,sans-serif;
	font-size: 10pt;
	font-style: italic;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 0px;
}

td.prodrow {
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:#A0A0A0;
}

td.mmenu
{
	font-family:arial,sans-serif; color: #707070; font-size: 8pt; text-decoration:none;
}
td.mmenu a {font-family:arial,sans-serif; color: #707070; font-size: 8pt; text-decoration:none;}
td.mmenu a:link {font-family:arial,sans-serif; color: #707070; font-size: 8pt; text-decoration:none;}
td.mmenu a:visited {font-family:arial,sans-serif; color: #707070; font-size: 8pt; text-decoration:none;}
td.mmenu a:active {font-family:arial,sans-serif; color: #303030; font-size: 8pt; text-decoration:none;}
td.mmenu a:hover {font-family:arial,sans-serif; color: #303030; font-size: 8pt; text-decoration:none;}

td.mmenu2
{
	font-family:arial,sans-serif; color: #303030; font-size: 8pt; text-decoration:none;
}
td.mmenu2 a {font-family:arial,sans-serif; color: #303030; font-size: 8pt; text-decoration:none;}
td.mmenu2 a:link {font-family:arial,sans-serif; color: #303030; font-size: 8pt; text-decoration:none;}
td.mmenu2 a:visited {font-family:arial,sans-serif; color: #303030; font-size: 8pt; text-decoration:none;}
td.mmenu2 a:active {font-family:arial,sans-serif; color: #303030; font-size: 8pt; text-decoration:none;}
td.mmenu2 a:hover {font-family:arial,sans-serif; color: #303030; font-size: 8pt; text-decoration:none;}

#content_area {padding:14px;}
#rollingbanners {height:258px;width:754px;float-none;margin:0;padding:0 0 0 6px;}