body {
	font-family: arial,sans;
	font-size: 10pt;
	color: #000000;
	background:#FFFFFF;
}

p, ul, li, td
{
	font-family: arial,sans;
	font-size: 10pt;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 0px;
}

.admin_block {color:#A0A0A0;font-size:18px;}
.admin_block p{color:#A0A0A0;font-size:18px;}
.admin_block a{color:#2020A0;font-size:18px;text-decoration:underline;}
.admin_block a:hover{color:#808080;font-size:18px;text-decoration:underline;}